

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.logo { color: #4385C5; }

.bold { font-weight: bold; }

.main1 { color: #AA0107; }
